body{
    text-align: center;
    background-image: url("home.jpg");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
form label{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    color: aliceblue;
}
form input{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}
form input[type=number]{
    width: 100px;
}
button{
    border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  border: none;
  padding: 20px;
}
button:hover{
    background: rgb(49, 49, 49);
}
